version: 2.3.3.{build}
build:
  verbosity: minimal
  project: Certes.sln

skip_tags: true
image: Visual Studio 2022

skip_commits:
  files:
    - "*.md"
  #- '*.yml'

clone_depth: 1
nuget:
  disable_publish_on_pr: true

environment:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOCFX_SOURCE_BRANCH_NAME: main
  GITHUB_ACCESS_TOKEN:
    secure: h8W1UnvbXvIldJLmdlHeaXln2IOPfGCYF9eFx12tPBS4x+9F0yBX3y8kJSxIncun

branches:
  # whitelist
  only:
    - main
    - preview
    - beta
    - release

init:
  - git config --global core.autocrlf input

before_build:
  - ps: New-Item build -Type directory -Force | Out-Null
  - cmd: dotnet restore

build_script:
  - ps: dotnet test ./test/Certes.Tests/Certes.Tests.csproj --framework net6.0
  - ps: dotnet test ./test/Certes.Tests.Integration/Certes.Tests.Integration.csproj --framework net6.0

test: off
before_test:

test_script:

on_success:
  # gh-pages
  - ps: |
      If (-Not $env:APPVEYOR_PULL_REQUEST_TITLE -And $env:APPVEYOR_REPO_BRANCH -Eq "main")
      {
        git clone -q --depth=1 https://github.com/fszlin/docstrap.git docs/docstrap
        choco install docfx -y
        docfx docs/docfx.json
        git config --global core.autocrlf false
        git config --global credential.helper store
        git config --global user.email $env:APPVEYOR_REPO_COMMIT_AUTHOR_EMAIL
        git config --global user.name $env:APPVEYOR_REPO_COMMIT_AUTHOR
        Add-Content "$env:USERPROFILE\.git-credentials" "https://$($env:GITHUB_ACCESS_TOKEN):x-oauth-basic@github.com`n"
        git clone https://github.com/fszlin/certes.git -b gh-pages gh-pages -q
        Copy-Item ./docs/_site/* ./gh-pages/ -Recurse -Container -Force
        cd gh-pages
        git add -A 2>&1
        git commit -m $env:APPVEYOR_REPO_COMMIT_MESSAGE -q
        git push origin gh-pages -q
        cd $env:APPVEYOR_BUILD_FOLDER
      }

configuration: Release
