language: csharp
mono: none
dotnet: 2.1.300-rc1-008673
env:
  matrix:
    - CLI_VERSION=Latest
  global:
    - DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
    - DOTNET_CLI_TELEMETRY_OPTOUT: 1
branches:
  only:
    - release
    - master
    - dev
    - vnext
script:
  - dotnet restore
  - dotnet test ./test/Certes.Tests/Certes.Tests.csproj --framework netcoreapp2.0
  - dotnet test ./test/Certes.Tests.Integration/Certes.Tests.Integration.csproj --framework netcoreapp2.0
