version: 2.0.0.{build}
build:
  verbosity: minimal
  project: Certes.sln

skip_tags: true
image: Visual Studio 2017

skip_commits:
  files:
  - '*.md'
  #- '*.yml'

clone_depth: 1  
nuget:  
  disable_publish_on_pr: true

environment:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  DOTNET_CLI_TELEMETRY_OPTOUT: 0
  ver_offset: 360
  beta_build_Ver: 1
  rc_build_Ver: 1

cache:
  - dotnet-pre
  - '%USERPROFILE%\.nuget\packages'

branches:
  # whitelist
  only:
    - release
    - master
    - cli
    - beta
    - rc

assembly_info:
  patch: true
  file: '**\AssemblyInfo.*'
  assembly_version: '$(CERTES_ASSEMBLY_VERSION)'
  assembly_file_version: '$(CERTES_ASSEMBLY_FILE_VERSION)'
  assembly_informational_version: '$(CERTES_ASSEMBLY_INFO_VERSION)'

init:
  - git config --global core.autocrlf input
  - ps: $verParts = $($env:appveyor_build_version) -Split '\.'
  - ps: $env:CERTES_ASSEMBLY_VERSION = $verParts[0] + '.' + $verParts[1] + '.' + $verParts[2]
  - ps: $env:CERTES_ASSEMBLY_FILE_VERSION = $env:CERTES_ASSEMBLY_VERSION + '.' + $verParts[3]
  - ps: $buildVer = $verParts[3] - $env:ver_offset
  - ps: if ($env:APPVEYOR_REPO_BRANCH -eq "beta") { $buildVer = Get-Date -Format yyyyMMdd }
  - ps: if ($env:APPVEYOR_REPO_BRANCH -eq "rc") { $buildVer = Get-Date -Format yyyyMMdd }
  - ps: $env:CERTES_ASSEMBLY_INFO_VERSION = if ($env:APPVEYOR_REPO_BRANCH -eq "release") { $env:CERTES_ASSEMBLY_VERSION } else { $env:CERTES_ASSEMBLY_VERSION + '-' + $env:APPVEYOR_REPO_BRANCH + '-' + $buildVer }
  - ps: $env:CERTES_PACKAGE_VERSION = $env:CERTES_ASSEMBLY_INFO_VERSION

install:
  - ps: wget https://dot.net/v1/dotnet-install.ps1 -OutFile dotnet-install.ps1
  - ps: .\dotnet-install.ps1 -InstallDir ./dotnet-pre -Version 2.1.300-preview1-008174 -NoPath

before_build:
  - ps: New-Item build -Type directory -Force | Out-Null
  - ps: gci *.csproj -recurse | %{ (gc $_) -replace '\<Version\>1.0.0\<\/Version\>', "<Version>$($env:CERTES_PACKAGE_VERSION)</Version>" | sc $_.fullname }
  - cmd: msbuild -t:restore -v:m

build_script:
  - msbuild -t:src\Certes:pack -p:DebugType=Full -v:m
  #- msbuild -t:src\Certes_Cli:pack -p:DebugType=Full -v:m
  - msbuild -t:src\Certes_Cli:Publish -p:TargetFramework=netcoreapp1.0 -p:DebugType=Full -v:m
  - ps: Get-ChildItem -Path "./src/**/*.nupkg" -Recurse | Move-Item -Destination "./build"
  - ps: '"dotnet %~dp0dotnet-acme.dll %* " | Set-Content .\src\Certes.Cli\bin\$($env:CONFIGURATION)\netcoreapp1.0\publish\certes.bat'
  - 7z a build\certes-cli.zip .\src\Certes.Cli\bin\%CONFIGURATION%\netcoreapp1.0\publish\*.* -r
  # dotnet tool
  - ps: ./dotnet-pre/dotnet.exe publish src\Certes\Certes.csproj -c Release -f netcoreapp2.0 -property:TargetFrameworks=netcoreapp2.0
  - ps: ./dotnet-pre/dotnet.exe pack src\Certes.Cli\Certes.Cli.csproj -c Release -property:TargetFrameworks=netcoreapp2.0

#test: off
before_test:
  - msbuild -p:DebugType=Full -v:m

test_script:
  - ps: $openCover = "$($env:USERPROFILE)/.nuget/packages/opencover/4.6.519/tools/OpenCover.Console.exe"
  - ps: cd test/Certes.Tests
  - ps: >-
      & $openCover "-register:user" "-target:dotnet.exe" "-targetargs:xunit -fxversion 2.0.0 -configuration Release -nobuild -maxthreads 4" "-oldstyle" "-output:./../../build/Certes.Tests.coverage.xml" "-filter:+[*]Certes.* -[*Tests*]*" "-hideskipped:All" "-returntargetcode"
  - ps: cd ../../
  - ps: cd test/Certes.Tests.Integration
  - ps: >-
      & $openCover "-register:user" "-target:dotnet.exe" "-targetargs:xunit -fxversion 2.0.0 -configuration Release -nobuild -maxthreads 4" "-oldstyle" "-output:./../../build/Certes.Tests.Integration.coverage.xml" "-filter:+[*]Certes.* -[*Tests*]*" "-hideskipped:All" "-returntargetcode"
  - ps: cd ../../

after_test:
  - npm install codecov -g -q
  - codecov -f "./build/Certes.Tests.coverage.xml" -F unit 1>nul
  - codecov -f "./build/Certes.Tests.Integration.coverage.xml" -F integration 1>nul

configuration: Release

artifacts:
    - path: build/*.nupkg
      name: nupkg
      
    - path: build/certes-cli.zip
      name: cli

deploy:
  - provider: GitHub
    release: v$(CERTES_PACKAGE_VERSION)
    description: 'Certes v$(CERTES_PACKAGE_VERSION)'
    auth_token:
      secure: B+lTI7i/tnZeg1ZSmho3HvOWjs0C4hptNy5cvWgF0Nn7b6v8nwT/mxEWVCfIJ7Fy
    artifact: nupkg,cli
    draft: false
    prerelease: false
    on:
      branch: release

  - provider: GitHub
    release: v$(CERTES_PACKAGE_VERSION)
    description: 'Certes v$(CERTES_PACKAGE_VERSION)'
    auth_token:
      secure: B+lTI7i/tnZeg1ZSmho3HvOWjs0C4hptNy5cvWgF0Nn7b6v8nwT/mxEWVCfIJ7Fy
    artifact: nupkg,cli
    draft: true
    prerelease: true
    on:
      branch:
        - master

  - provider: NuGet
    api_key:
      secure: enjdo7AiXKaGhj8NC2k3wjQ9mGlU1jxABzG6tuphpM7dNaazlrSlvwR2H1kC4kr+
    skip_symbols: true
    symbol_server:
    artifact: nupkg
    on:
      branch: release

  - provider: NuGet
    server: https://www.myget.org/F/certes/api/v2/package
    api_key:
      secure: RSdqUIwRSn8DI5xaa4iWBzOtYU6y3K9JRh07myQpAIRf5IhlwsZpFsnQOpCg1g7J
    skip_symbols: true
    symbol_server:
    artifact: nupkg
    on:
      branch:
        - master
        - cli
