<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="automatic" value="False" />
  </packageRestore>
  <packageSources>
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="nuget" value="true" />
  </activePackageSource>
</configuration>